.auth-main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.footer-form{
    width: 80%;
}

.auth-form-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:80%;
    gap: 2rem;
}

.auth-divider-container{
    display:flex;
    flex-direction:column;
    gap:1rem;
}

.auth-input-container{
    display: flex;
    flex-direction:column;
    gap:2rem;
    width: 100%;
}
.login-form{
    border: 1px solid rgb(8, 10, 41, 0.4);
    border-radius: 0.5rem;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.login-form .title-form{
    text-align: center;
    font-size: 30px;
}

.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form .btnSubmit{
    color: #fff;
    background-color: #0062cc;
}

.title-container{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.title-logo{
    height: 150px;
    width: 150px;
    margin: auto;
}

@media (max-width: 767px) {
    .login-form{
        width: 80%;
        height: 90%;
    }

    .title-logo{
        width: 100px;
        height: 100px;
    }

    .login-form .title-form{
        font-size: 20px;
    }

    .auth-form-container{
        width: 100%;
    }

    .footer-form{
        width: 100%;
    }

    .title-form{
        font-size: 25px !important;
    }
}

@media (min-width: 768px) and (max-width: 1039px) {
    .login-form{
        width: 80%;
    }
}

@media (min-width: 1040px) {
    .login-form{
        height: 90%;
    }
}